<div class="content">
  <p>
    <%= @place.inspect %>
  </p><br/>
  <p>
    <%= @place.events.inspect %>
  </p><br/>
  <p>
    <%= @place.images.inspect %>
  </p><br/>
  <p>
    <%= @place.facilities.inspect %>
  </p>
</div>